.container{
	width:1280px;
	margin:0 auto;
}
.za{
	width:25%;
	padding:50px 0;
	background:#a3f;
	float:left;
}
.zb{
	width:40%;
	padding:50px 0;
	background:#a3e;
	float:left;
}
.zc{
	width:20%;
	padding:50px 0;
	background:#a8f;
	float:left;
}
.zd{
	width:15%;
	padding:50px 0;
	background:#a66;
	float:left;
}
.xa{
	width:10%;
	padding:25px 0;
	background:#a16;
	float:left;
}
.xb{
	width:10%;
	padding:25px 0;
	background:#a66;
	float:left;
}
.xc{
	width:10%;
	padding:25px 0;
	background:#a16;
	float:left;
}
.xd{
	width:10%;
	padding:25px 0;
	background:#a66;
	float:left;
}
.xe{
	width:10%;
	padding:25px 0;
	background:#a96;
	float:left;
}
.xf{
	width:10%;
	padding:25px 0;
	background:#a66;
	float:left;
}
.xg{
	width:10%;
	padding:25px 0;
	background:#a96;
	float:left;
}
.xh{
	width:10%;
	padding:25px 0;
	background:#a66;
	float:left;
}
.xk{
	width:10%;
	padding:25px 0;
	background:#a96;
	float:left;
}
.xi{
	width:10%;
	padding:25px 0;
	background:#a66;
	float:left;
}
.cv{
	width:15%;
	float:left;
}
.pa{
	padding:450px 0;
	background:#a66;
}
.pb{
	padding:450px 0;
	background:#a77;
}
.f {
	width:20%;
	float:left;
}
.o{
	padding:300px 0;
	background:#a66;
}
.y{
	padding:300px 0;
	background:#a99;
}


