.container{
	width:1280px;
	margin:0 auto;
}
.za{
	width:25%;
	padding:50px 0;
	background:#a3f;
	float:left;
}
.zb{
	width:40%;
	padding:50px 0;
	background:#a3e;
	float:left;
}
.zc{
	width:20%;
	padding:50px 0;
	background:#a8f;
	float:left;
}
.zd{
	width:15%;
	padding:50px 0;
	background:#a66;
	float:left;
}
.xa{
	width:10%;
	padding:25px 0;
	background:#a16;
	float:left;
}
.xb{
	width:10%;
	padding:25px 0;
	background:#a66;
	float:left;
}
.xc{
	width:10%;
	padding:25px 0;
	background:#a16;
	float:left;
}
.xd{
	width:10%;
	padding:25px 0;
	background:#a66;
	float:left;
}
.xe{
	width:10%;
	padding:25px 0;
	background:#a96;
	float:left;
}
.xf{
	width:10%;
	padding:25px 0;
	background:#a66;
	float:left;
}
.xg{
	width:10%;
	padding:25px 0;
	background:#a96;
	float:left;
}
.xh{
	width:10%;
	padding:25px 0;
	background:#a66;
	float:left;
}
.xk{
	width:10%;
	padding:25px 0;
	background:#a96;
	float:left;
}
.xi{
	width:10%;
	padding:25px 0;
	background:#a66;
	float:left;
}
.cv{
	width:15%;
	float:left;
}
.pa{
	padding:450px 0;
	background:#a99;
}
.pb{
	padding:450px 0;
	background:#a81;
}
.cg{
	width:20%;
	float:left;
}
.pc{
	padding:300px 0;
	background:#a99;
}
.pd{
	padding:300px 0;
	background:#a81;
}
.cf{
	width:35%;
	float:left;
}
.pe{
	padding:300px 0;
	background:#a11;
}
.ct{
	width:30%;
	float:left;
}
.ta{
	padding:100px 0;
	background:#a11;
}
.tb{
	padding:100px 0;
	background:#a44;
}
.tc{
	padding:100px 0;
	background:#a11;
}
.ch{
	width:35%;
	float:left;
}
.te{
	padding:100px 0;
	background:#a51;
}
.tf{
	padding:100px 0;
	background:#a44;
}
.tg{
	padding:100px 0;
	background:#a51;
}
.cj{
	width:30%;
	float:left;
}
.pf{
	padding:300px 0;
	background:#a58;
}
.ck{
	width:55%;
	float:left;
}
.qa{
	padding:100px 0;
	background:#a22;
}
.qb{
	padding:100px 0;
	background:#a88;
}.qc{
	padding:100px 0;
	background:#a22;
}
.cx{
	width:30%;
	float:left;
}
.qq{
	padding:300px 0;
	background:#a49;
}
.ua{
	width:35%;
	padding:150px 0;
	background:#a9f;
	float:left;
}
.ub{
	width:30%;
	padding:150px 0;
	background:#a1f;
	float:left;
}
.uc{
	width:35%;
	padding:150px 0;
	background:#a66f;
	float:left;
}
.ma{
	width:25%;
	padding:250px 0;
	background:#a5f;
	float:left;
}
.mb{
	width:40%;
	float:left;
}
.vc{
	padding:125px 0;
	background:#a19;
}
.at{
	width:35%;
	float:left;
}
.ra{
	padding:83px 0;
	background:#a99;
}

.rb{
	padding:83px 0;
	background:#a4f;
}
.rc{
	padding:83px 0;
	background:#a1f;
}
.vb{
	width:40%;
	float:left;
}
.fa{
	padding:5px 0;
	background:#a99;
}
.fb{
	padding:10px 0;
	background:#a99;
}.fc{
	padding:10px 0;
	background:#a99;
}.fd{
	padding:10px 0;
	background:#a99;
}.fe{
	padding:10px 0;
	background:#a99;
}.ff{
	padding:10px 0;
	background:#a79;
}.fg{
	padding:10px 0;
	background:#a99;
}.fh{
	padding:10px 0;
	background:#a99;
}.fk{
	padding:10px 0;
	background:#a99;
}













